.DS_Store
config.yml
*.env
__pycache__/
*.pyc
tutor-edulage-theme/*.egg-info/
tutor-edulage-theme/build/
tutor-edulage-theme/*.egg-info/
platform-plugin-campus/build/
platform-plugin-campus/**/*.egg-info/
